* {
    margin: 0;
    padding: 0;
}
body, html{height:100%;}

body {
    /*background: #FFB6C1 !important;*/
    /*background: #f4dff5 !important;*/
    background: url("../../public/img/home/rose8.jpg")  no-repeat center fixed;
    padding-top: 70px;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: lightpink !important;
    padding: 4px 12px;
}

ul {
    list-style: none;
}

.homePage {
    background-color: #f9d4e6;
}

@font-face {
    font-family: arisona;
    src: url("../polices/arisona.ttf");
}

@font-face {
    font-family: echei;
    src: url("../polices/echei.ttf");
}

@font-face {
    font-family: gv;
    src: url("../polices/GV.otf");
}

h1 {
    text-align: center;
    font-family: arisona;
}

hr {
    width: 85%;
    border-top: 1px solid deeppink !important;
    margin: auto;
}

.infos{
    font-family: arisona;
    font-size: 27px;
    font-weight: bold;
}

/*================================ homeView.php ==================================================*/

/*============== Menu.php =====================*/


.indexcity {
    z-index: 9999;
}

.right {
    right: 0 !important;
    left: 0 !important;
}

.navbar-collapse li a {
}

.navbar-inverse {
    background: linear-gradient(white, pink, white);
    border-color: hotpink !important;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0 !important;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: pink !important;

}

.navbar-inverse .navbar-nav > .open > a {
    background: linear-gradient(white, pink, white);
}

.nav .navbar-nav:hover li {
    color: pink !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: black !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: white !important;
}

.dropdown-menu {
    background: linear-gradient(white, pink, white) !important;
}

.dropdown-menu li a:hover {
    background-color: pink !important;
    color: white !important;
}

.dropdown:hover {
    background-color: pink !important;
}

.hoverMenu:hover {
    background-color: pink !important;
}

.tricot {
    margin-top: 10px;
}

@media only screen and (max-width: 767px) {
    /*menu beurger*/
    .navbar-collapse {
        background: linear-gradient(pink, white, pink);
        position: fixed;
        top: 0;
        transition: all 0.8s ease-out;
        height: 100%;
        width: 100%;
        left: 700px;
        z-index: 1000;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: black !important;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #000;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: pink !important;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #333 !important;
    }

    .caret {
        margin-left: 6px;

    }

    .dropdown-menu > li > a:hover {
        background-color: pink !important;
    }

    .dropdown-menu {
        padding: 20px 0 !important;
    }

    .tricot {
        margin-top: 20px;
    }

}

/*****************************************************/
.h1Title {
    margin-top: 80px;
    text-align: center;
    font-family: arisona;
    font-size: 55px;
    font-weight: bold;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

/*===================== image profile =======================================*/
.profileImg {
    text-align: center;
    margin-top: 50px;
}

.profileImg img {
    width: 220px;
    box-shadow: 5px 4px 18px -2px;;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;

}

.item{
    margin-bottom: 85px;
}


/*******************slider homeView.php***************/

/******************************** texte de présentation ***************************************************/
.presentation p {
    margin: 52px 5% 50px 5%;
    width: 90%;
    font-family: gv;
    font-size: 30px;
    background: linear-gradient(pink, white, pink);
    box-shadow: 8px 6px 42px -17px;
    padding: 12px;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.presentation {
    margin-top: 10px;
}

/*********************** derniere realisation ******************************/

.titleItem {
    text-align: center;
    margin-bottom: 35px;
    font-family: arisona;
    font-size: 34px;;
    font-weight: bold;
}

.titleImg {
    border-bottom: 1px solid hotpink;
    width: 158px;
}

.lastItemT {
    margin-top: 45px;
}

.contenueItem {
    margin-top: 25px;
    text-align: center;
    background: linear-gradient(pink, white, pink);
    height: 218px;
    box-shadow: 5px 5px 30px -8px;
    padding: 1px;
    max-width: 330px;

}

.contenueItem img {
    box-shadow: 5px 6px 20px -3px black;
    width: 150px;

}

.lastItem {
    margin-bottom: 50px;
}

/***************************** PAGE CrochetView.PHP tricotView.php********************************************/
.hrCrochet {
    margin-bottom: -35px;
}

.hrTitle{
    display: none;
}

.titleCrochet {
    font-family: arisona;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 45px;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.blockCrochet {
    margin: auto;
    font-family: arisona;

    font-weight: bold;
    max-width: 350px;
    margin-top: 60px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 30px -8px;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    background: linear-gradient(pink, white, pink);
}

.blockCrochet h3 {
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
}


.creationIMG {
    text-align: center;
    margin-top: 20px;

}

.creationIMG a img {
    height: 150px;
    margin-bottom: 20px;
    box-shadow: 5px 6px 20px -3px black;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

/*********************************** page item crochet **********************************************/

.blockCrochetItemC {
    margin-top: 60px;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    background: linear-gradient(pink, white, pink);
}

.titleItemC {
    text-align: center;

}

.titleItemC h3{
    font-size: 30px;
    font-family: arisona;
    font-weight: bold;
}

.creationIMGItemC {
    margin-top: 25px;
    text-align: center;
}

.creationIMGItemC img {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    box-shadow: 5px 6px 20px -3px black;
    width: 220px;
}

.creationTextItemC {
    margin-top: 20px;
    margin-bottom: 20px;
}

.child1 {
    position: relative;
    background-color: Cornsilk !important;
}

.child1 button{
    margin-bottom: 4px;
    margin-left: 5px;



}

/*==== commentaires ===========*/

.comment {
    box-shadow: 5px 3px 21px -4px;
}

.commentPseudo {
    margin-left: 10px;
}

.commentText {
    margin-left: 10px;
    margin-top: 30px;
}

.commentDropUsers {
    margin-top: 60px;
    margin-bottom: 50px;

}

.commentCrochet {
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 5px 3px 21px -4px;
    width: 270px;
}

@media all and (min-width: 400px){
    .child1{
        left: 70px !important;
    }
}

textarea {
    width: -webkit-fill-available !important;
    height: 10em;
}

.membrePseudo {
    width: -webkit-fill-available !important;;
}

.reponseUser {
    display: none;

}

.commentItemCrochet {
    margin-bottom: 35px;
}

.btn-primary {
    background-color: lightpink !important;
    border-color: hotpink !important;
    margin-left: 1% !important;
    margin-bottom: 5px !important;
    font-size: 11px !important;
}

.btn-primary:hover {
    opacity: 0.7;
    color: deeppink !important;

}

.tbn {
    display: flex;
    justify-content: space-between;
}

.report {
    margin-right: 1%;

}

.report button {
    border-radius: 4px;
    border: 1px solid hotpink;
}

.report button:hover {
    opacity: 0.7;
}

.report button a {
    text-decoration: none;
    color: white;
    font-size: 11px;

}

.report button a:hover {
    color: red;
}

/*********************************** livre d'or *******************************/

.commentBookUser {
    background: white;
    margin-top: 30px;
}

.titleBook{
    margin-bottom: 60px;
}

.textBook{
    margin: auto;
    background: linear-gradient(pink, white, pink);
    padding: 2px;
    border-radius: 8px;
    box-shadow: 5px 3px 21px -7px;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;

}

.textBook h3 p{
    font-size: 15px;
    text-align: center;
    color: hotpink;
    padding: 12px;
}

.lastnameBook, .firstnameBook {
    box-shadow: 5px 3px 21px -4px;
    border: 1px solid pink;
    height: 30px;
}

.commentBook {
    box-shadow: 5px 3px 21px -4px;
    border: 1px solid pink;
}

.submit_btn {
    margin-top: 35px;
    background: linear-gradient(pink, white, pink);
    border: none;
    padding: 4px;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    font-size: 11px;
}

.submit_btn:hover {
    opacity: 0.8;
    color: hotpink;
}

.nameBook {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.prénomBook {
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.messageBook {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.reportBook{
    margin-left: 1%;
    margin-bottom: 45px;
}

.nomBook{
    margin-left: 10px;
}

.contentBook{
    margin-left: 10px;
    margin-top: 30px;
}

.reportBook button{
    margin-bottom: 5px;
}

/********************************** page publications ***************************************/
.logo img{
    margin-bottom: -114px;
}

.publication{
    background: linear-gradient(pink, white, pink);
    padding-bottom: 15px;
    margin-top: 78px;
}

.publication h3{
    text-align: center;
    margin-bottom: 57px;
    font-family: GV;
    font-size: 50px;
    font-weight: bold;
}

.publicationImg{
    text-align: center;
}

.publicationImg  img{
    width: 254px;
    box-shadow: 10px 16px 83px -23px black;
}

.publicationContent{
    text-align: center;
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 10%;

}

/********************************* page contact ********************************************/
.contactFormulaire {
    margin-top: 80px;
    margin-bottom: 100px;
}

.message {
    margin-top: 40px;
}

.submint_bt {
    margin-top: 30px;
}

.nom, .prenom, .email, .membrePseudo {
    box-shadow: 5px 3px 21px -4px;
    border: 1px solid pink;
    height: 30px;
}

.messageTexte {
    box-shadow: 5px 3px 21px -4px;
    border: 1px solid pink;
}

.nomInput {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

.prenomInput {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

.emailInput {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

.messageT {

    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

.submint_btContact {
    background: linear-gradient(pink, white, pink);
    border: none;
    margin-top: 25px;
    padding: 4px;
    -webkit-animation-duration: 4.5s;
    animation-duration: 4.5s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.submint_btContact:hover {
    opacity: 0.8;
}

/***************************** page confirmeMailContactView.php **************************************/

.confirmMail {
    margin-top: 200px;
}

/***************************** templateFooter.php*******************************/

.footer {
    background: linear-gradient(#4e5b66, black);
    margin-left: -15px;
    margin-right: -15px;
}


.liensMenu a {
    color: white;
}

.liensMenu a:hover{
    color: hotpink;
}

.liensMenu {
    font-size: 15px;
}

.icons{
    border-right: 1px solid white;
}

.accueil{
    margin-bottom: 12px;
}

.copyright {
    margin-top: 35px;
}

.copyright p {
    color: white;
    font-size: 12px;
}


/********************* page d'erreur **************************/

.erreurUsers{
    margin-top: 220px;
    margin-bottom: 398px;
}

/*=====================================================================================================*/
/***************************************media queries *************************************************/
/*====================================================================================================*/
@media (min-width: 768px) {
    .container {
        width: auto !important;
    }


    /************** home page ******************************/
    /*********** title *********/
    .titleH1 h1 {
        font-size: 100px;
        margin-bottom: 36px;
    }

    .cards{
        width: 350px !important;
    }

    /*************** page crochet et tricot views***********************/

    .blockCrochet h3{
        font-size: 35px;
    }

    /**************** item page *****************************/
    .creationTextItemC{
        margin-top: 9px;
    }

    .titleItemC h3 {
        font-size: 40px;
    }

    .creationIMGItemC{
        padding: 30px;
        margin-top: -7px;
    }

    /**** commentaires ****/

    .membrePseudo{
        width: 110% !important;
    }

    .comment{
        width: 175% !important;
        height: 175px;
    }

    .commentCrochet{
        width: 50%;
    }
    .child1{
        left: 100px !important;
    }

    /******************* livre d'or ************************************/

    .lastnameBook, .firstnameBook{
        width: 100%;
    }

    .commentBook{
        width: 150% !important;
        height: 200px;
    }

    /****************** publication ********************************************/


    .publicationImg img {
        width: 344px;
    }

        /************* footer ******/
    .footer {
        margin-top: 30px;
    }

    .accueil {
        font-size: 20px;
    }

    .contactFooter {
        font-size: 20px;
    }

    .copyright p {
        font-size: 16px
    }
}

@media (min-width: 992px) {
    .container {
        width: auto !important;
    }
}

@media all and (min-width: 1200px) {
    .container {
        width: auto !important;
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*============================== responsive ============================================*/

@media all and (min-width: 768px) {
    /*======================= home view ======================================*/
    /************image profile************/
    .profileImg img {
        width: 300px;
    }

    .presentation p {
        margin: 41px 5% 50px 5%;

    }

    .textImg {
        margin-bottom: 50px;
    }

    /**************** item dernieres realisations ***********************/
    .titleItem {
        font-size: 45px;
    }

    .lastItemT {
        margin-top: 0;
    }


    /***************** livre d'or *****************************************/

    .commentBookUser{
        width: 80%;
    }

}


/*****************************************/

@media all and (min-width: 992px){

    /****************** crochet tricot views ****************************/

    .hrCrochet{
        display: none;
    }

    .hrTitle{
        display: block;
    }

    /*********************** page item *******************************************/
    .creationIMGItemC img{
        width: 330px;
    }

    .blockItem{
        margin-left: 10%;
        margin-right: 10%;
    }

    /********************** page publication ******************************************/

    .publication{
        margin-left: 15%;
        margin-right: 15%;
    }

    /*********************** livre d'or  *******************************/

    .commentBookUser{
        width: 64%;
    }

    .textBook{
        width: 56%;
    }

    .nom, .prenom, .email{
        width: 100%;
    }

    .messageT{
        margin-top: 25px;
    }

    .messageTexte{
        width: 150% !important;
        height: 200px;
    }

}


/********************************************/

@media all and (min-width: 1170px){

    /*================== homeView ============================*/

    .nav li a {
        font-size: 18px !important;
    }

    .h1Title{
        font-size: 90px;
    }

    .textImg{
        margin-top: 55px;
        margin-bottom: 100px;
    }

    .presentation p{
        font-size: 30px;
    }


    .titleItem{
        font-size: 55px;
    }

    .titleImg{
        font-size: 28px;
    }

    .item{
        margin-top: 40px;
    }

    .contenueItem{
        height: 263px;
        max-width: 400px;
        padding: 5px;
    }

    .contenueItem h4{
        font-size: 22px;
    }

    .contenueItem img{
        width: 180px;
    }


    /*================= crochet et tricot View =============================*/

    .titleCrochet{
        font-size: 90px;
    }

    .blockCrochet h3{
        font-size: 44px;
    }

    .blockCrochet{
        max-width: 448px;
        height: 284px;
    }


    .creationIMG a img{
        height: 190px;
    }

    /*********************** page item *******************************************/

    .titleItemC h3{
        font-size: 50px;

    }

    .titleItemC{
        margin-bottom: 50px;
    }

    .creationIMGItemC img{
        width: 450px;
    }

    .creationTextItemC p{
        font-size: 16px;
    }

    .commentDropUsers h4{
        font-size: 24px;
        margin-bottom: 46px;
    }

    .submit_btn{
        zoom: 1.2;
    }

    .commentCrochet {
        width: 34%;
    }

    .btn{
        zoom: 1.2;
    }

    .report{
        zoom: 1.2;
    }

    .child1{
        left: 150px !important;
    }

    /********************** livre d'or ******************************/

    .textBook h3 p{
        font-size: 17px;
    }

    /************************* page publications ************************/

    .publication{
        margin-left: 18%;
        margin-right: 18%;
    }

    .publicationImg img {
        width: 449px;
    }

    .publicationContent{
        font-size: 15px;
    }

    .publication h3{
        font-size: 65px;
    }

    /********************************* erreurUsers **************************************/

    .erreurUsers{
        margin-bottom: 490px;
    }
}

