* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFB6C1 !important;
}

.blockCrochet {
    margin-top: 30px;
}

@font-face {
    font-family: arisona;
    src: url("../polices/arisona.ttf");
}

@font-face {
    font-family: echei;
    src: url("../polices/echei.ttf");
}

.img {
    display: none;
}

#pop {
    display: none;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none !important;
}

.blockAdmin {
    margin: 1%;
}

hr {
    width: 85%;
    border-top: 1px solid deeppink !important;
    margin: auto;
}

.backTdb button, .deconTemp button {
    padding: 5px;
    box-shadow: 7px 3px 23px -7px;
    border: 1px inset hotpink;
    border-radius: 5px;
}

.backTdb button:active, .deconTemp button:active {
    box-shadow: none;
    border: 1px inset pink;
}

.backTdb button:hover, .deconTemp button:hover {
    background: white;
}

.backTdb {
    margin-top: 25px;
}

.deconTemp {
    margin-top: 20px;
}

.btnAdmin {
    margin-bottom: 14px;

}

#numberPages {
    font-size: 18px;
    margin-top: 74px;
}

#numberPages a {
    margin-left: 20px;
}

#numberPages a:active {
    background: hotpink;
}

/******************************* tableau de bord *************************************************/
.deconnexion {
    margin-top: 10px;
    direction: rtl !important;
    margin-right: 2%;
    padding: 5px !important;
}

.deconnexion button {
    padding: 5px;
    box-shadow: 7px 3px 23px -7px !important;
}

.deconnexion button:active {
    box-shadow: none !important;
}

.deconnexion button a {

}

.titleTdb h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-family: arisona;
}

.articles, .commentaires, .book, .publication, .email, .parametre {
    margin-left: 3%;
}

.articles button, .commentaires button, .publication button, .book button, .email button, .parametre button {
    padding: 4px;
    box-shadow: 7px 3px 23px -7px;
    border: 1px inset hotpink;
    border-radius: 5px;
}

.articles button:active, .commentaires button:active, .book button:active, .publication button:active, .email button:active, .parametre button:active {
    box-shadow: none;
    border: 1px inset pink;
}

.articles button:hover, .commentaires button:hover, .book button:hover, .publication button:hover .email button:hover, .parametre button:hover {
    background: white;
}

.articles button a, .commentaires button a, .book button a, .publication button a, .email button a, .parametre button a {
    color: deeppink;
}

.articlesTdb h2, .commentairesTdb h2, .bookTdb h2, .publicationTdb h2, .emailTdb h2, .parametreTdb h2 {
    font-weight: bold;
    font-family: arisona;
}

.articlesTdb:hover, .commentairesTdb:hover, .bookTdb:hover, .publicationTdb:hover, .emailTdb:hover, .parametreTdb:hover {
    background: pink;
}

.articlesTdb, .commentairesTdb, .bookTdb, .publicationTdb, .emailTdb, .parametreTdb {
    padding: 30px;
}

/************************* page articles *********************************/
.titleCrochet h1 {
    text-align: center;
    font-family: arisona;
    font-weight: bold;
}

.nbrArticles {
    text-align: center;
    margin-bottom: 76px;
}

.nbrArticles h2 {
    font-size: 18px;
}

.createArticle {
    margin-bottom: 45px;
}

.createArticle button {
    padding: 4px;
    box-shadow: 8px 5px 24px -6px;
}

.createArticle button:hover {
    background: white;
}

.createArticle button:active {
    box-shadow: none;
    border: 1px inset pink;
    margin-bottom: 2px;
}

.createArticle button a {
    color: deeppink;
}

.blockCrochet {
    background: linear-gradient(pink, white, pink);
    margin-bottom: 45px;
    margin-top: 45px;
}

.titleArticle {
    text-align: center;
    margin-top: 37px;
}

.creationIMG {
    text-align: center;
    margin-top: 20px;
}

.creationIMG img {
    box-shadow: 11px 12px 57px -15px;
    width: 238px;
}

.creationText {
    margin-top: 30px;
}

.modifText {
    margin-top: 75px;
    margin-bottom: 15px;
}

.modifText a {
    font-size: 18px;
}

.modifText button:hover {
    background: white;
}

.modifText button {
    padding: 4px;
    width: 100%;
    border-radius: 5px;
    padding: 10px 16px;
}

.modifText button a {
    border-radius: 5px;
}

.btn {

    margin-bottom: 15px;
    padding: 10px 16px;
    margin-top: 20px;
}

.btnItem {
    display: flex;
    flex-direction: column;
}

/************************ page création nouvel item *************************/
.submitBtn {
    margin-top: 20px;
    margin-bottom: 10px;
}

.img img {
    width: 250px;
}

/************************ page commentaires *******************************/

.commentairesArticle {
    background: linear-gradient(pink, white, pink);
    margin-bottom: 45px;
    margin-top: 45px;
}

.detailArticle {
    margin-left: 2%;
}

.btnDelete {
    text-align: center;
}

.suppre {
    margin-bottom: 40px;
}

/************************ page publication ****************************************/

.newPublis {
    margin-top: 40px;
}

.publicationAdmin {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 78px;
    background: linear-gradient(pink, white, pink);
}

.publisDate p {
    text-align: left;
    margin-left: 5px;
}

.publicationAdmin img {
    width: 207px;
}

.deletePublis {
    padding-bottom: 15px;
}

/****************** livre d'or ********************************/

.contentVisitorBook {
    background: linear-gradient(pink, white, pink);
    margin-bottom: 45px;
    margin-top: 45px;
}

/***************** page E-mail **********************************************/
.mailAdmin {
    background: linear-gradient(pink, white, pink);
    margin-top: 45px;
    margin-bottom: 45px;
}

.expediteur p {
    font-size: 18px;
}

.messageExpediteur p {
    font-size: 18px;
}

/***************** page newMdp **************************************/

.mdp, .newMdp2 {
    width: 214px;
}

.btn_submit {
    padding: 5px;
    box-shadow: 7px 3px 23px -7px !important;
    border: 1px inset hotpink;
    border-radius: 5px;
}

.btn_submit:hover {
    background: white;
}

.btn_submit {
    box-shadow: none;
}

/*********************** page newNamne *******************************/
.pseudoname p {
    text-align: center;
    margin-top: 25px;
}

.newNameAdmin {
    margin-top: 30px;
}

.submit-btnValider {
    margin-top: 20px;
    padding: 5px;
    box-shadow: 7px 3px 23px -7px !important;
    border-radius: 5px;
}

.submit-btnValider:active {
    box-shadow: none !important;
}

.submit-btnValider:hover {
    background: white;
}

.warning {
    margin-top: 20px;
}

/************************* change photo home **************************************/

.imgHome {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.imgHome img {
    width: 210px;
}

.titleNewImg h4 {
    text-align: center;
    font-family: arisona;
    font-size: 30px;
    font-weight: bold;
}

.img {
    text-align: center;
}

.img img {
    width: 210px;

}

.submit {
    margin-bottom: 30px;
}

/************************************* Media Queries ***************************************************************/

@media all and (min-width: 768px) {

    .backTdb {
        margin-top: 0px;
    }

    /*************** tableau de bord *************************/
    .titleTdb h1 {
        font-size: 61px;
    }

    .articlesTdb h2, .commentairesTdb h2, .bookTdb h2, .publicationTdb h2, .emailTdb h2, .parametreTdb h2 {
        font-size: 42px;
    }

    /********************** page articles***********************************/
    .titleCrochet h1 {
        font-size: 61px;
    }

    .nbrArticles h2 {
        font-size: 27px;
    }

    .creationText p {
        font-size: 20px;
    }

    .gererArticle {
        width: 280px !important;
    }

    /******************** creation nouvel item *************************/
    .creationTitre {
        zoom: 1.2;
    }

    /*********************** commentaire article **********************/
    .commentairesArticle {
        margin-left: 12%;
        margin-right: 12%;
    }

    /********************* page publication **************************/
    .publicationAdmin img {
        width: 300px;
    }

    /************************ message livre d'or ***********************/
    .contentVisitorBook {
        margin-left: 12%;
        margin-right: 12%;
    }

    /********************** page mail ******************/
    .mailAdmin {
        margin-left: 12%;
        margin-right: 12%;
    }

    .destinat, .expediteur, .messageExpediteur {
        margin-left: 2%;
    }

    /************************* change photo home **************************************/
    .imgHome {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .imgHome img {
        width: 300px;
    }

    .titleNewImg h4 {
        font-size: 50px;

    }

    .img {
        text-align: center;
    }

    .img img {
        width: 300px;

    }

    .submit {

    }

    .filesImg {
        margin: auto;
    }

    .sub_btn {
        text-align: center;
    }

}

@media all and (min-width: 992px) {

    /************************** new mot de passe **********/
    .actuMdp, .newMdp1 {
        zoom: 1.2 !important;
    }

    /********************** new nom ***************************/
    .changeName {
        zoom: 1.2 !important;
    }
}

@media all and (min-width: 1200px) {

    /********************** article item**************************************/
    .creationIMG img {
        width: 300px;
    }

    .btn {
        margin-bottom: 0;
    }

    .modifText {
        margin-bottom: 0;
    }

    .blockCrochet {
        margin-left: 5%;
        margin-right: 5%;
    }

    /*********************  page publication ********************************/
    .publicationAdmin {
        margin-left: 10%;
        margin-right: 10%;

    }

    .publicationAdmin img {
        width: 385px;
    }

}

.warning_container {
    display: none;
    position: absolute;
    border: 1px solid black;
    background: white;
    padding: 50px;
    margin-top: -550px
;
}

.delete_btn {
    width: 79px;
    background-color: darkgray;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 2px black;
    color: red;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}

.delete_btn:hover {
    color: black;
}

.delete_btn:active {
    box-shadow: none;
}
